body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
}

.Myers{
    width: 800px;
}

.Learning {
    width: 800px;

}
.Big{
    width: 800px;
}